p{
    text-align: justify;
}

.contenedor1{
    display: grid;
    grid-template-areas: 
    'text text img'
    ;
    justify-content: center;
    align-items: center;
}

.text1{
    grid-area: text;
    padding: min(5em, 8%);
    max-width: 700px;
}

.img1{
    grid-area: img;
}

#img1{
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 350px;
    width: 100%;
    padding: 2rem 2rem 2rem 0;
}

.contenedor2{
    display: grid;
    grid-template-areas: 
    'img2 text2 text2'
    ;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    background-color: #ffe0de;
    
}

.text2{
    grid-area: text2;
    padding: min(5em, 8%);
    max-width: 700px;
}

.img2{
    grid-area: img2;
}

#img2{
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 350px;
    width: 100%;
    padding: 2rem 0 2rem 0rem;
}


@media screen and (max-width: 820px){
    .img1{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    .img2{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    .galeria {
        grid-template-columns: 1fr !important;
        width: 75%;
    }

    .contenedor1{
        display: grid;
        grid-template-areas: 
        'text'
        'img'
        ;
    }

    .contenedor2{
        display: grid;
        grid-template-areas:
        'text2'
        'img2'
        ;
    }
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.galeria img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

details{
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    border-width: 1px;
    border-radius: 0.8rem;
    width: 100%;
}

summary{
    color: white;
    background-color: #be0d13;
    padding: 1.5rem;
    cursor: pointer;
    user-select: none;
    border-radius: 0.8rem;
    margin-bottom: 2.5rem;
}

#aniv-contenedor{
    background-color: white;
}

.contenedor3{
    margin: 0;
    background-color: #ffe0de;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.contenedor3 p{
    max-width: 800px;
}

.contenedor2 a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background-color: #be0d13;
    border: none;
    border-radius: 0.8rem;
    width: fit-content;
    padding: 1rem;

    transition: background-color 0.5s ease;
}

.contenedor2 a:hover{
    background-color: #9a0c10;
}

li{
    margin: 1rem 0;
}

/*Apartat instal·lacions*/

.contenedor4{
    max-width: 1000px;
    display: grid;
    justify-content: center;
    grid-template-areas: 
    'text4'
    'llista4'
    'text5'
    'llista5'
    'text6'
    'llista6'
    'text7'
    ;
    margin: 0 min(5em, 8%);
}

.text4{
    grid-area: text4;
}

.llista4{
    grid-area: llista4;
}

.text5{
    grid-area: text5;
}

.llista5{
    grid-area: llista5;
}

.text6{
    grid-area: text6;
}

.llista6{
    grid-area: llista6;
}

.text7{
    grid-area: text7;
    max-width: 700px;
}
